/* general text format for page */

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    color: lightgray;
    font-size: 20px;
    text-align: left;
    padding: 10px 25px;
}

/* header above <ul> element (list of languages) */

.center {
    text-align: center;
}

/* format for <li> within both <ul> and <ol> */

ol li, ul li{
    color: lightgray;
    font-style: italic;
    width: 150px;
    text-align: left;
    margin: 0 auto;
    padding: 10px 15px;
    list-style-position: inside;
}

/* footer <a> formatting */
