* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.large_type {
    font-size: 56px;
    color: black;
    background-color: gray;
    opacity: .75;
}

.main-table {
    margin: 20px auto;
}

.center {
    text-align: center;
}

p {
    color: lightgray;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}
ol li, ul li{
    color: lightgray;
    font-style: italic;
    width: 150px;
    text-align: left;
    margin: 0 auto;
    padding: 10px 15px;
    list-style-position: inside;
}
.link { color: lightgray; } 
.link:hover { 
    opacity: .50;
}